<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">ISEbox</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a href="#" class="nav-link">Sessions / Endpoints</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Endpoint Groups</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Network Devices</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Network Device Groups</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Authorization Profiles</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Downloadable ACLs</a></li>
  </ul>
  <ul class="navbar-nav ml-auto mr-4 text-light">
    <li class="nav-item"><samp style="vertical-align: sub;"><%= current_user %>/<%=request.remote_ip%></samp></li>
    <%= link_to "My Status", status_path, class: "nav-item btn btn-sm btn-primary ml-2" %>
  </ul>
  <form class="form-inline">
    <div class="input-group">
      <input id="autocomplete" tabindex=1 class="form-control form-control-sm" type="search" placeholder="Search by MAC/IP/User" aria-label="Search" autocomplete="off">
    </div>
  </form>
</nav>
