<div class="row mt-4">
  <div class="col-10">
    <table class="table table-hover table-sm">
      <tbody>
        <% @sessions.each do |session| %>
          <%= render "livelog_row", {session: session} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= raw(ap(@sessions, {plain: true})) if params[:action] == "livelog"%>

<script type="text/javascript">
  window.setInterval(function(){
    $.get("/streaminglog?timestamp=" + $($(".timeago")[0]).attr("datetime"), function(data) {
      // console.log("[" + Date.now() + "] f");
      data = $(data).slideDown(600).hide().fadeIn("slow")
      $("table tbody").prepend(data);
      timeago().render(document.querySelectorAll('.timeago'));
      $("table tr").slice(500).remove()
    });
  }, 2000);
</script>
