<div class="col-4">
  <div class="card mt-5">
    <div class="card-header bg-danger text-light">
      No active sessions found
    </div>
    <div class="card-body">
      We couldn't find a session in ISE for your IP Address (<samp><%= request.remote_ip %></samp>).
      <br/>
      Your switchport might not have ISE enabled on it.
    </div>
  </div>
</div>
