<div class="mt-4 d-flex justify-content-end">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<div class="col-6">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tbody>
        <% @network_device_groups.each do |nd_group| %>
          <tr>
            <td title="<%= nd_group.uuid %>"><samp><%= nd_group.name %></samp></td>
            <td><%= nd_group.description %></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>
