// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.autocomplete-suggestions {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
}

.autocomplete-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}

.autocomplete-selected {
  background-color: #B2D7FF;
}

.autocomplete-suggestions strong {
  font-weight: bold;
  font-style: normal;
}

.autocomplete-group {
  padding: 2px 5px;
  font-weight: 600;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.editable {
  border-bottom: 1px dashed #aeaeae;
}
